@charset "utf-8";
/*=========================
common
=========================*/
* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 
        "dnp-shuei-gothic-kin-std", 
        sans-serif;
    font-style: normal;
    color: #000;
    background-color: #fff;
    line-height: 2;
}

img {
    max-width: 100%;
    height: auto;
}

.section__topic {
    color: #000;
    /* font-family: "Hind Guntur"; */
    font-family: Helvetica, sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: center;
}

.furigana {
    font-family: "dnp-shuei-gothic-kin-std";
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.05;
    letter-spacing: 0.8px;
}

.btn_container {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* 縦方向中央揃え */
    gap: 8px;
}

.btn {
    display: block;
    color: #515151;
    /* font-family: "Hind Guntur"; */
    font-family: Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
    transition: 0.4s;
}

.btn_arrlow {
    /* flexアイテム内の画像の垂直位置ずれを防ぐため */
    display: block; 
    margin-bottom: 6px;
}

.reserve_btn {
    display: inline-block;
    border: 1px solid #000;
    padding: 12px 0; /* 上下のpaddingと左右のpadding */
    text-align: center;
    width: 240px;
    margin: 0 auto;

    cursor: pointer; /* カーソルをポインターに変更 */

    font-family: Hind Guntur;
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.2;
}

.reserve_btn_txt {
    display: block;
    font-family: Dnp-shuei-gothic-kin-std;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 0.06em;
    margin-top: 5px;
}

.container {
    position: relative;
}


/* .common pc */
@media screen and (min-width: 769px) {
    .section__topic {
        font-family: "Hind Guntur";
        font-size: 3.2rem;
        letter-spacing: 1.6px;
    }

    .furigana {
        font-size: 1.2rem;
        letter-spacing: 0.6px;
    }
}


/*=========================
header
=========================*/
.header {
    padding: 19px 5.6%;
    margin: 18px 0;
}

.header__img {
    position: absolute; /* 絶対配置 */
    top: 24px; /* 上からの距離を調整 */
    left: 30px; /* 左からの距離を調整 */
    z-index: 10; /* 画像より前面に表示 */
}

.header__topic,
.nav__topic {
    color: #000;
    font-family: Hind Guntur;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 16.08px;
}

/* .nav初期表示 */
.nav {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100vh;
    padding: 19px 5.6%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 0.4s;
}

.nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__header__img {
    position: fixed;
    top: 43px;
    left: 30px;
}

.nav__list {
    display: block;
    margin-top: 98px;
}

.nav__item {
    color: #000;
    text-align: center;
    font-family: Hind Guntur;
    font-size: 1.8rem;
    letter-spacing: 0.01em;
    margin-bottom: 38px;
}

.nav__item--instagram {
    margin-top: 24px;
}

.nav__item--reserve {
    margin-top: 24px;
}

.nav__item--reserve_pc {
    display: none;
}

.nav.active {
    transform: translateX(0);
}

.nav__btn {
    display: block;
    width: 30px;
    height: auto;
    cursor: pointer;

    position: absolute;
    top: 30px;
    right: 3.5%;
}

.header__btn {
    display: block;
    width: 29px;
    height: 16px;
    cursor: pointer;

    position: absolute;
    top: 19px;
    right: 3.5%;
}

/* .header pc */
@media screen and (min-width: 769px) {
    .nav {
        width: 100vh;
        height: 50px;
        transform: rotate(90deg);
        /* transform: translate(0, 50%) rotate(90deg) translate(50%, -50%); */
        transform-origin:left top;
        left: 99.8vw;
        top: 37px;
        background-color: transparent;
    }

    .nav__header {
        display: none;
    }

    .nav__list {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        gap: 5rem;
        margin-top: 0;
        
    }

    .nav__item {
        font-size: 1.2rem;
        /* margin: 30px 0; */
        /* flex-direction: column; */
        /* align-items: flex-end; */
    }

    .nav__item--instagram {
        margin-top: 0;
    }
    
    .nav__item--reserve {
        display: none;
    }
    
    .nav__item--reserve_pc {
        display: block;
    }
    
    .header__btn {
        display: none;
    }
}

/*=========================
main
=========================*/
.article__header {
    padding: 0 2.6% 128px;
}

.mainImg {
    position: relative;
}

/* article header */
.main .mainImg__pc{
    display: none;
}

/* article header pc */
@media screen and (min-width: 769px) {
    .article__header {
        padding: 0 6.0% 272px;
    }

    .mainImg .mainImg__pc {
        display: block;
    }

    .mainImg .mainImg__sp {
        display: none;
    }
}

/* .message */
.section--message {
    padding: 64px 5.3%;
    background-color: #313131;
}

.section__topic--message {
    color: #FFF;
}

.section__topic--message--pc {
    display: none;
}

.message__img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 26px;
}

.message__txt {
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.4;
    margin-top: 28px;
}

/* .message pc */
@media screen and (min-width: 769px) {

    .section--message {
        padding: 128px 12.8%;
    }

    .section__topic--message--sp {
        display: none;
    }

    .section__topic--message--pc {
        display: inline-block;
    }

    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.4%;
    }

    .message__img {
        width: 70%;
        min-width: 50%;
        height: auto;
        /* 画像がインライン要素扱いの場合に下部にできる余白を防ぐため */
        display: block;
    }

    .message__content {
        /* コンテンツないを左寄せ */
        text-align: left;
        min-width: 50%;
    }

    .message__txt {
        /* テキストを左寄せ */
        text-align: left;
        font-size: 1.6rem;
        line-height: 2.063;
        margin-top: 48px;
    }

    .message__txt .spBr {
        display: none;
    }
}

/* .hairStyles */
.section--hairStyles {
    margin: 36px 7.7%;
}

.section__topic--hairStyles {
    display: block;
    margin: 0 auto;
    text-align: left;
}

.hairStyles {
    display: flex;
    justify-content: center;
    gap: 1.9rem 2.4rem;
    flex-wrap: wrap;
    margin: 26px auto;
}

.hairStyles__item {
    width: 43%;
}

.hairStyles__img img {
    width: 100%;
    height: auto;
}

.hairStyles__content {
    margin-top: 7px;
}

.hairStyles__name {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.6;
}

.hairStyles__identity {
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 1.0;
    margin-top: 2px;
}

.hairStyles__category {
    color: var(--8f, #8F8F8F);
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.3px;
    margin-top: 5px;
}

.btn_container--hairStyles {
    margin-top: 34px;
}

/* .hairStyles pc */
@media screen and (min-width: 769px) {
    .section--hairStyles {
        margin: 240px 14.7% 200px;
    }

    .hairStyles {
        display: flex;
        justify-content: center;
        /* gap: 1.9rem 2.4rem; */
        flex-wrap: wrap;
        margin: 48px auto;
    }

    .hairStyles__item {
        width: 31%;
    }

    .hairStyles__img {
        width: 100%;
        height: auto;
    }

    .hairStyles__name {
        font-size: 1.2rem;
        letter-spacing: 0.48px;
        /* line-height: 1; */
    }
    
    .hairStyles__identity {
        font-size: 1.0rem;
        line-height: 1.0;
        margin-top: 6px;
    }

    .hairStyles__category {
        font-size: 0.8rem;
        letter-spacing: 0.4px;
        margin-top: 16px;
    }
}

/* .menu */
.section--menu {
    padding: 64px 12.4%;
    background-color: #313131;
}

.section__topic--menu {
    color: #FFF;
}

.section__topic--menu--pc {
    display: none;
}

.menu {
    display: block;
    margin: 0 auto;
    margin-top: 26px;
}

.menu__content {
    width: 100%;
    height: auto;
}

.menu__img {
    display: block;
    width: 100%;
    height: auto;
}

.menu__img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.menu__txt {
    color: #FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 2.4;
    
    margin-top: 28px;
}

.btn--menu {
    color: #FFF;
}

.btn_container--menu {
    margin-top: 34px;
} 

/* .menu pc */
@media screen and (min-width: 769px) {
    .section--menu {
        padding: 128px 12.4%;
    }

    .section__topic--menu--sp {
        display: none;
    }

    .section__topic--menu--pc {
        display: block;
        text-align: left;
    }

    .menu {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 5.4%;
        /* max-width: 100%; */
    }

    .menu__img img{
        display: block;
        min-width: 80%;
        height: auto;
    }

    .menu__txt {
        /* テキストを左寄せ */
        text-align: left;
        font-size: 1.6rem;
        line-height: 2.063;
        margin-top: 48px;
    }

    

    .menu__txt .spBr {
        display: none;
    }

    

}

/* .about */
.section--about {
    margin: 64px 7.75%;
}

.about {
    margin-top: 26px;
}

.about__middle_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* flexアイテムの下端を揃える */
    margin-top: 16px;
    /* 高さを固定 */
    height: 100%; 
}

.stylist__name {
    font-size: 2.0rem;
    font-weight: 600;
}


.stylist__engNameJob {
    font-family: Hind Guntur;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.7;
    letter-spacing: 0.05em;
}

.stylist__job {
    font-size: 0.8rem;
    letter-spacing: 0.032em
}

.about__img--scissors_comb {
    width: 40%;
    height: auto;
    /* 画像がインライン要素扱いの場合に下部にできる余白を防ぐため */
    display: block;
}

.about__txt {
    margin-top: 72px;
}

.about__txt__top {
    display: block;
    /* boldにして下線を入れる */
    font-weight: 600;
    text-decoration: underline;
    /* 字間を開ける */
    letter-spacing: 0.1em;
    /* 文字の高さの間隔を開ける */
    line-height: 1.8;
}

.about__txt__bottom {
    display: block;
    margin-top: 24px;
}

.btn_container--about {
    margin-top: 32px;
}

/* .about pc */
@media screen and (min-width: 769px) {
    .section--about {
        margin: 122px 0 192px;
    }

    .stylist__engNameJob .spBr {
        display: none;
    }
}


/* .article__footer */
.article__footer {
    margin-top: 64px;
    text-align: center;
}



/*=========================
footer
=========================*/
.footer {
    background-color: #313131;
    padding: 28px 0 20px;
    text-align: center;
    margin-top: 78px;
}

.footer__logo {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
}

.footer__main {
    display: none;
}

.footer__small {
    display: block;
    margin-top: 24px;
    color: #FFF;
    font-family: Hind Guntur;
    font-size: 0.8rem;
    line-height: 1.5;
    letter-spacing: 0.4px;

}
